$gry: #1c0903;
$white: #f3f0f0;
$red: #ff1808;
$blue: #84c1ff;
$orange: #fa9e1e;
$black: #000;

@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Megrim&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "Bausmans", cursive;
  position: relative;
  color: $white;
  background: url("./media/background.jpg") no-repeat 50% 50%;
  background-size: cover;
  &:before {
    content: "";
    background: #dfd5d5;
    background: linear-gradient(168deg, #dfd5d5 0%, transparent 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    z-index: -2;
  }
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  &:visited {
    color: $white;
  }
  img {
    width: 200px;
  }
}

//************************** HEADER**********************************
.title {
  padding: 5px 0 0 10px;
  position: relative;
  h1 {
    font-family: "Megrim", cursive;
    font-size: 45px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    padding-left: 10px;
    color: $red;
    text-shadow: 2px 2px 0 $gry, 4px 4px 0 $blue, 4px 4px 6px $red;
  }
}

.nav {
  position: absolute;
  top: 4px;
  right: 10px;
  li {
    display: inline;
    padding: 0 15px;
    border-left: 3px solid $white;
    &:hover {
      border: 2px solid $white;
      transition: 0.5s ease-in-out;
    }
    &:active {
      border: 5px solid $white;
    }
  }
}
//************************* Carousel ***********************

.carousel {
  width: 20%;
  border-radius: 15px 15px 15px 15px;
  margin: 0px auto 20px auto;
  overflow: hidden;
  box-shadow: 8px 8px 4px -3px rgba(0, 0, 0, 0.7);
  z-index: -1;
  @media (max-width: 840px) {
    display: none;
  }
  &__figure {
    position: relative;
    width: 300%;
    margin: 0;
    padding: 0;

    animation: 25s sliders infinite;
    &--pic {
      width: 33.33%;
      height: auto;
      float: left;
    }
  }
}

@keyframes sliders {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    right: 200%;
  }
  75% {
    right: 100%;
  }
  95% {
    right: 100%;
  }
  100% {
    left: 0%;
  }
}
.offers {
  padding-top: 50px;
  display: flex;
  align-items: center;
}

.perspective {
  width: 100%;
  perspective: 800px;
  display: flex;
  justify-content: space-between;

  &__3d {
    width: 240px;
    height: 200px;
    margin: auto;
    box-shadow: 0 70px 63px -60px #494848;
    transform-style: preserve-3d;
    transition: transform 0.05s linear;
    &--card {
      background-size: cover;
      height: 100%;
      width: 100%;
      border-radius: 15px;
      &:after {
        background: inherit;
        content: "";
        display: block;
        position: absolute;
        left: -60px;
        top: 40px;
        width: 100%;
        height: 85%;
        z-index: -1;
        filter: blur(50px);
      }
    }
  }
  h2 {
    position: absolute;
    top: 0;
    font-size: 1.1em;
    font-weight: 100;
    transform: translateZ(80px);
    text-transform: uppercase;
  }
  span {
    position: absolute;
    bottom: 40px;
    right: -10px;
    font-size: 0.8em;
    font-weight: 600;
    transform: translateZ(35px);
  }
}
